/target/
/cart-service/target/
/inventory-service/target/
/order-service/target/
/price-service/target/
/product-service/target/
/refund-service/target/
/registry-service/target/
/user-service/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### logs
/logs/
/cart-service/logs/
/inventory-service/logs/
/order-service/logs/
/price-service/logs/
/product-service/logs/
/refund-service/logs/
/registry-service/logs/
/user-service/logs/